@model OnlineShopping.Domain.Entities.ShippingDetails
@{ 
    ViewBag.Title = "Checkout"; 
}
<h2>Check out now</h2>
Please enter your details, and we'll ship your goods right away! 
@using (Html.BeginForm())
{ 
    
    @Html.ValidationSummary() 

    <h3>Address</h3> 
    <div>Line 1: @Html.EditorFor(x => x.Line1)</div> 
    <div>Line 2: @Html.EditorFor(x => x.Line2)</div> 
    <div>Line 3: @Html.EditorFor(x => x.Line3)</div> 
    <div>City: @Html.EditorFor(x => x.City)</div> 
    <div>Zip: @Html.EditorFor(x => x.Zip)</div> 
    <div>Country: @Html.EditorFor(x => x.Country)</div> 
    
    
    
    

    <p align="center">
        <input class="actionButtons" type="submit" value="Complete order" />
    </p> 
}
