<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/typeahead_design.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/offcanvas.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/hogan-2.0.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/typeahead.js")" type="text/javascript"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("List", "Product")">OnlineShopping</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("storeLocator", "GeoLocation")">Store Locator</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    @{Html.RenderAction("Summary", "Cart");}
                    @Html.Partial("_LogOnPartial")

                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>


    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav nav-pills nav-stacked">
                    @{Html.RenderAction("Menu", "Nav"); }
                </ul>
            </div>
            <!--/span-->
            <div class="col-xs-12 col-sm-9">
                <div class="example example-twitter-oss">
                    <h2 class="example-name">Product</h2>
                    <div class="demo">
                        <input id="productName" class="typeahead" type="text" placeholder="Search Product">
                        <button id="searchProduct" type="button" class="btn btn-info" onclick="onSeachProduct()"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-9">

                @RenderBody()
                <!--/span-->

                <!--/row-->
            </div>
            <!--/span-->
        </div>
        <!--/row-->

        <hr>

        <footer>
            <p>&copy; CG3002 Group-9 Copyright</p>
        </footer>

    </div>
    <!--/.container-->

    <style type="text/css">
        .form-control {
            margin-bottom: 10px;
        }
    </style>

</body>
</html>

<script>
    $(document).ready(function () {
        $('.example-twitter-oss .typeahead').typeahead([
  {
      name: 'Product',
      prefetch: '@Url.Action("getFullInventoryList", "Product")/',
  }
        ]);
    });

function onSeachProduct() {
    var product = document.getElementById("productName");
    //if (product.value == "")
    //    alert("Choose a product");
    //else
    window.location.href = "@Url.Action("Details", "Product")" + "/?productName=" + product.value;
}
</script>
